{% extends 'frontend/base.html.twig' %}

{% block body %}
<main>
<div class="box-container">
        <div class="box100 color-transparent">
            <h1>Neoprávněný přístup</h1>
            <p>Pouze pro přihlášené uživatele.</p>
        </div>
    </div>
</main>
{% endblock %}