{% extends 'frontend/base.html.twig' %}

{% block title %}Změna hesla{% endblock %}

{% block body %}
    <h1>Změna hesla</h1>

    {% if renewPasswordForm is defined %}
        {{ form(renewPasswordForm) }}
    {% else %}
        Neplatný HASH!!
    {% endif %}

{% endblock %}


