{% extends 'frontend/base.html.twig' %}


{% block body %}

<div class="container">
<div class="row">

{% for article in categoryList %}
<div class="col-md-6 col-lg-4">
  <a href="{{ path('showArticleDetail', { 'id': article.id }) }}">
    <div class="feature-block">
      <img src="../../uploads/img/master/{{ article.picture }}" alt="img" class="img-fluid">
      <h4>{{ article.name|raw }}</h>
      <p>{{ article.perex|raw }}</p>
    </div>
  </a>
</div>
{% endfor %}

</div>
</div>

{% endblock %}

