  <!--==========================
    Footer
  ============================-->
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">brukev.cz</a>
            <p>Zahradní portál o pěstování ovoce a zeleniny. O zahradní architektuře i okrasných rostlinách.</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Kategorie</h4>

            <ul class="list-unstyled">
              <li><a href="#">Pěstování</a></li>
              <li><a href="#">Okrasná zahrada</a></li>
              <li><a href="#">Zahradní architektura</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Články</h4>

            <ul class="list-unstyled">
              <li><a href="#">Pěstování křenu</a></li>
              <li><a href="#">Rytí zahrady</a></li>
              <li><a href="#">Slunečnice</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Tipy</h4>

            <ul class="list-unstyled">
              <li><a href="#">Hnojení</a></li>
              <li><a href="#">Mulčování</a></li>
              <li><a href="#">Zalévání</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Kontakt</h4>

            <ul class="list-unstyled">
              <li>pestuji@brukev.cz</li>
              <li>www.brukev.cz</li>
            </ul>

          </div>
        </div>

      </div>
    </div>

    
  </footer>