body {
	font-family: "Helvetica";
	background-color:  #f7f7f9;
}

main {
	width: 1280px;
	margin: 0 auto;
	box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
	background-color: #fff;
	padding: 20px;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
}

table tbody tr:nth-of-type(2n+1) {
    background-color: rgba(230, 230, 242, .5);
}

table td,
table th {
    padding: 10px;
    vertical-align: middle;
    font-weight: normal;
    text-align: left;
}