/* CSS GRID */
html {
	height: 100%;
}

body {

}

nav {
	min-height: 100vh !important;
}

main {
	min-height: 100vh !important;
}

/**/
body {
	font-family: "Helvetica";
	background-color:  #f7f7f9;
}

main {
	box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
	background-color: #fff;
	padding: 20px;
}

nav {
	background-color: #0e0c28;
	padding: 20px;
	color: #7AB4DD;
}

nav h3 {
	padding-left: 40px;
}

nav * {
	color: #ddd;	
}

nav li {
	list-style: none;
	margin-bottom: 3px;
}

nav li a {
	text-decoration: none;
	font-size: 16px;
}

nav li i {
	width: 30px;
	text-align: center;
	font-size: 16px;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
}

table tbody tr:nth-of-type(2n+1) {
    background-color: rgba(230, 230, 242, .5);
}

table td,
table th {
    padding: 10px;
    vertical-align: middle;
    font-weight: normal;
    text-align: left;
}

table tbody tr.table-remove {
	background-color: rgba(230, 230, 242, .2);
	color: #777;
}

tr.sub2 td.name{
	padding-left: 20px;
}

tr.sub3 td.name{
	padding-left: 30px;
}

tr.sub4 td.name{
	padding-left: 40px;
}

tr.sub5 td.name{
	padding-left: 50px;
}

tr.sub6 td.name{
	padding-left: 60px;
}

/* COLORS */
.warning-text {
	color: #d44950;
}

/* login-page */
main.login-page form {
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
    margin-top: calc(50vh - 150px);
}

main.login-page form input {
	margin-bottom: 15px;
}
button {
	margin-bottom: 20px !important;
}

button a,
button a:hover{
	color: #fff;
}

/* --- editContents --- */
.editContents label {
	width: 170px;
}

.editContents input {
	display: inline-block;
	width: 350px;
}
