{% extends 'admin/base.html.twig' %}

{% block body %}

<table>
    <thead>
        <tr>
            <th scope="col">Název</th>
            <th scope="col">Perex</th>
            <th scope="col">akce</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        	<tr>
        		<td>
                    {{ article.name }}
            	</td>
            	<td>
                    {{ article.perex|slice(0, 50) ~ '...' }}
            	</td>
            	<td>
                    <a href="{{ path('articleSetKoncept', { 'article': article.id }) }}">Obnovit do stavu koncept</a>
            	</td>
    		</tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock %}