{% extends 'admin/base.html.twig' %}

{% block body %}

<table>
    <thead>
        <tr>
            <th scope="col">Název</th>
            <th scope="col">akce</th>
            <th scope="col">řazení</th>
        </tr>
    </thead>
    <tbody>

    {% include 'admin/category/recurseCat.html.twig' with {'categories':categories, 'sub':0} %}


    </tbody>
</table>
    
{% endblock %}