{% extends 'frontend/base.html.twig' %}

{% block body %}

        <div class="banner">
            <img src="img/banner1.jpg">
        </div>
        <main>
            <div class="box-container">
                {# ukázaka práce s ContentPices #}
                {{ klubContents['1'].getText() }}{# obsah nadpis #}

                {{ klubContents['14'].getText()|raw }}{# obsah nadpis #}
            </div>
        </main>
        <div class="gallery">
            <div class="gallery-slickme">
                <img src="img/gallery/1.jpg">
                <img src="img/gallery/2.jpg">
                <img src="img/gallery/3.jpg">
                <img src="img/gallery/4.jpg">
                <img src="img/gallery/5.jpg">
                <img src="img/gallery/6.jpg">
            </div>
        </div>
    </div>

{% endblock %}