{% extends 'frontend/base.html.twig' %}

{% block body %}
<section id="hero" class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="hero-container">
      <h1>{{ article.name|raw }}</h1>
      <p><img src="../../uploads/img/master/{{ article.picture }}"></p>
      <h2>{{ article.perex|raw }}</h2>
      <p>
      {{ article.text|raw }}
      </p>
    </div>
  </section>
{% endblock %}