    <footer>
        <div class="inner">
            <div class="footer-box footer-box-1">
                <img src="brukev-logo.png">
            </div>
            <div class="footer-box footer-box-2">
                <h1>Fotogalerie</h1>
                <ul>
                    <li>
                        <a href="#" class="active">Pokoje</a>
                    </li>
                    <li>
                        <a href="#" class="">Hotel</a>
                    </li>
                    <li>
                        <a href="#" class="">Sjezdovka</a>
                    </li>
                </ul>
            </div>
            <div class="footer-box footer-box-3">
                <h1>Kontakt</h1>
                <ul>
                  <li>pes<!-- @ brukovivce -->tuji&#64;bruke<!-- zavinace -->v.cz</li>
                  <li>www.brukev.cz</li>
                </ul>
            </div>
            <div class="footer-box footer-box-4">
                <h1>Služby</h1>
                <ul>
                    <li>
                        Restaurace
                    </li>
                    <li>
                        Sauna
                    </li>
                    <li>
                        Kulečník
                    </li>
                </ul>
            </div>
        </div>
    </footer>